<div class="hero_area">

  <section class="slider_section " style="background-color: blueviolet;">

    <div id="customCarousel1" class="carousel slide " data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container ">
            <div class="row">
              <div class="col-md-6">
                <div class="detail-box">
                  <h1>
                    Showcase a new smartphone model.
                  </h1>
                  <p>
                    "Explore the Latest in Tech"
                  </p>
                  <div class="btn-box">
                    <a href="" class="btn1">
                      Contact Us
                    </a>
                    <a href="" class="btn2">
                      Shop Now
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <img src="images/smartphones-1-removebg-preview (1).png" style="height: 100%;" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class=" carousel-item">
          <div class="container ">
            <div class="row">
              <div class="col-md-6">
                <div class="detail-box">
                  <h1>
                    A gaming console with accessories
                  </h1>
                  <p>
                    "Summer Sale - Up to 50% Off"
                  </p>
                  <div class="btn-box">
                    <a href="" class="btn1">
                      Contact Us
                    </a>
                    <a href="" class="btn2">
                      "Grab the Deal"
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <img src="images/OIP-removebg-preview.png" style="height: 100%;" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class=" carousel-item">
          <div class="container ">
            <div class="row">
              <div class="col-md-6">
                <div class="detail-box">
                  <h1>
                    Top-selling headphones and speakers.
                  </h1>
                  <p>
                    "Customer Favorites"
                  </p>
                  <div class="btn-box">
                    <a href="" class="btn1">
                      Contact Us
                    </a>
                    <a href="" class="btn2">
                      View Best Sellers
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <img src="images/Page-1-Image-1-768x392-removebg-preview.png" alt=""
                  style="height: 100%;width:90%; object-fit: contain;">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container ">
            <div class="row">
              <div class="col-md-6">
                <div class="detail-box">
                  <h1>
                    Laptops Store
                  </h1>
                  <p>
                    Tech for Your Life
                  </p>
                  <div class="btn-box">
                    <a href="" class="btn1">
                      Contact Us
                    </a>
                    <a href="" class="btn2">
                      About Us
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <img
                  src="images/lovepik-business-men-manipulate-pictures-with-laptop-png-image_400227080_wh1200-removebg-preview (1).png"
                  alt="" style="height: 100%;width:100%">
              </div>
            </div>
          </div>
        </div>

      </div>
      <ol class="carousel-indicators">
        <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
        <li data-target="#customCarousel1" data-slide-to="1"></li>
        <li data-target="#customCarousel1" data-slide-to="2"></li>
        <li data-target="#customCarousel1" data-slide-to="3"></li>

      </ol>
    </div>

  </section>
</div>