<%-include("admin_header",a)%>
<div id="page-wrapper" style="position: relative;top:30px;">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
             <h2>AllUser Examples</h2>   
                <h5>User Views</h5>
               
            </div>
        </div>
         <!-- /. ROW  -->
         <hr />
       
    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                     User Details:
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                      <p>UserName:<%=datas.Username%></p>
                      <p>Password :<%=datas.Password%></p>
                      <p>Email:<%=datas.Email%></p>
 
                    </div>
                        
                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
