<%-include("admin_header",a)%>
<div id="page-wrapper" style="position: relative;top:30px;">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
             <h2>Purchaser</h2>   
                <h5>Table </h5>
               
            </div>
        </div>
         <!-- /. ROW  -->
         <hr />
       
    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                     Users Products purchase
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>id</th>
                                  
                                    <th>View</th>
                                    <th>Remove</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                             <% for(let i of d){%>
                                <tr>
                                <td><%=i. UserName%></td>
                                <td><%=i._id%></td>
                               
                                <td><a href="/admin/pruch_v/<%=i._id%>">View</a></td>
                                <td>remove</td>
                                </tr>
                             <%}%>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>